<div class="container">
    <div class="row">
        <div class="col-3">
            <label><h4 class="mediaeval">Combatente:</h4></label>
        </div>
        <div class="col-9">
           <select class="mediaeval comb_msg"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label><h4 class="mediaeval">Msg:</h4></label>
        </div>
        <div class="col-4">
            <h4 class="mediaeval"><input type="text" class="msg_name" placeholder="Mensagem"></h4>
        </div>
        <div class="col-2">
            <label><h4 class="mediaeval">Round:</h4></label>
        </div>
        <div class="col-2">
            <h4 class="mediaeval"><input type="number" class="msg_round" value="1"/></h4>
        </div>
        <div class="col-2">
            <a class="add_msg"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="row" style="margin-bottom: 200px;">
        <div class="col-12">
            <ul class="msg_sv">

            </ul>
        </div>
    </div>
</div>